.main{
    text-align: center;
}
.cir{
    border-radius: 50%;
    background-color: rgb(144, 72, 180);
    box-shadow:3px 3px 3px 3px black;
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
}
.label{
    padding: 40px;
   
}